name: Redeploy when yt-dlp updates
env:
  PYTHONWARNINGS: 'ignore' # suppress warnings from app engine libraries
on:
  schedule:
    - cron: '0 0 * * *' # Check daily at 12:00 AM UTC
  workflow_dispatch:

jobs:
  check-yt-dlp:
    runs-on: ubuntu-latest
    concurrency:
      group: yt-dlp-update
      cancel-in-progress: false
    outputs:
      should_deploy: ${{ steps.diff.outputs.updated }}
    steps:
      - name: Get latest yt-dlp tag
        id: check
        run: |
          LATEST=$(curl -s https://api.github.com/repos/yt-dlp/yt-dlp/releases/latest | jq -r .tag_name)
          echo "latest=$LATEST" >> $GITHUB_OUTPUT

      - name: Restore cached tag
        uses: actions/cache@v4
        with:
          path: .cache
          key: yt-dlp-tag-cache-
          restore-keys: |
            yt-dlp-tag-cache-

      - name: Load cached tag
        id: cache
        run: |
          mkdir -p .cache
          test -f .cache/yt_dlp_tag || echo "" > .cache/yt_dlp_tag
          echo "cached=$(cat .cache/yt_dlp_tag)" >> $GITHUB_OUTPUT

      - name: Compare tags
        id: diff
        run: |
          if [ "${{ steps.check.outputs.latest }}" != "${{ steps.cache.outputs.cached }}" ]; then
            echo "updated=true" >> $GITHUB_OUTPUT
            echo "${{ steps.check.outputs.latest }}" > .cache/yt_dlp_tag
          else
            echo "updated=false" >> $GITHUB_OUTPUT
          fi

      - name: Save cached tag
        if: steps.diff.outputs.updated == 'true'
        uses: actions/cache/save@v4
        with:
          path: .cache
          key: yt-dlp-tag-cache-${{ steps.check.outputs.latest }}

  build-deploy:
    needs: check-yt-dlp
    if: needs.check-yt-dlp.outputs.should_deploy == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up GCP credentials
        uses: google-github-actions/auth@v3
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
      - name: Trigger Cloud Build
        run: |
          gcloud beta builds submit --config cloudbuild.yaml \
              --substitutions=TRIGGER_NAME="github-actions",BRANCH_NAME="main",COMMIT_SHA="${{ github.sha }}",REPO_NAME="${{ github.repository }}",REPO_FULL_NAME="${{ github.repository }}",TAG_NAME="yt-dlp-update",REF_NAME="yt-dlp-update"
